.defaultEmojiContainer {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}
.headingBtnContainer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
h2 {
  padding: 10px;
}

/* @media (max-width: 400px) {
  .defaultEmojiContainer {
    width: 100%;
    padding: 10px;
  }
} */
