.countsBoard {
  width: 50%;
}
.countList {
  display: flex;
  padding: 10px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  list-style-type: none;
  width: 400px;
  height: 470px;
  background: var(--color-secondary);
  border-radius: 10px;
}
.countItem {
  background: var(--color-secondary);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 40px;
  gap: 10px;
}
.emoji {
  width: 28px;
  height: 28px;
  border-radius: 100%;
}
.countBar {
  width: 270px;
  height: 18px;
  background-color: #bde038;
  border-radius: 40px;
}
