.countList {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  list-style-type: none;
  width: 30%;
  background: #a4ac00;
  border-radius: 10px;
}
.countItem {
  background: #a4ac00;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 40px;
  gap: 10px;
}
.emoji {
  width: 28px;
  height: 28px;
  border-radius: 100%;
}
.countBar {
  width: 270px;
  height: 18px;
  background-color: blue;
  border-radius: 40px;
}
