.emojisContainer {
  width: 50%;
}
.emojisList {
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  width: 700px;
  background-color: var(--color-secondary);
  padding: 20px;
  border-radius: 10px;
}
.dots {
  float: right;
}
.emojiPic {
  width: 60px;
  border-radius: 100%;
}
li {
  background-color: white;
  border-radius: 10px;
  width: 130px;
  height: 130px;
  cursor: pointer;
}
.emotion {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  margin-top: 20px;
  margin-left: 20px;
}
p {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
